{% extends "core/base.html" %}

{% block title %}Puddle | Main{% endblock %}

{% block content %}
    <div class="flex flex-col mb-4">
        <div id="movingElementExample" class="flex flex-col justify-center items-center">
            <h1 class="text-6xl text-white font-bold mb-4 max-[376px]:text-2xl">THANK YOU, MIAMI!</h1>
            <h1 class="mb-4 text-3xl text-white font-bold max-[768px]:mb-4 max-[376px]:text-xl">SEE YOU AGAIN</h1>
            <img src="https://images.squarespace-cdn.com/content/v1/56bbcc4659827e5156d54504/feee5a20-eea2-4ba2-899a-ea0068128b2d/LeanneLeuterio-%40Snap_LL-TravisScott-8851.jpg?format=1500w" class="w-3/4" alt="Concert image"/>
        </div>
        <div class="my-4 mb-12">
            <form method="POST" action=".">
                {% csrf_token %}

                <div class="flex justify-center">
                    <div class="mx-auto w-3/4 my-4">
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <div>
                                {{ form.name }}
                            </div>
                            <div>
                                {{ form.surname }}
                            </div>
                            <div>
                                {{ form.email }}
                            </div>
                            <div>
                                {{ form.number }}
                            </div>
                        </div>
                        <div class="my-4">
                            {{ form.status }} <p class="text-white font-normal text-lg max-[426px]:text-sm">Id like to receive by e-mail and SMS the latest information on Rolling Loud products, sweepstakes, events, and more.</p>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center mt-8">
                    <button class="text-md font-light px-6 py-2 text-white bg-transparent outline-none border border-2 border-white border-solid transition-all duration-300 ease-in-out hover:bg-white hover:text-black">SUBSCRIBE</button>
                </div>
            </form>
        </div>
        <div class="mt-12 text-white my-4 border-t-2 border-slate-900">
            <div class="flex flex-col justify-center items-center p-8 mt-8">
                <h1 class="text-center tracking-wide text-6xl font-bold mb-6 max-[768px]:text-4xl max-[426px]:text-3xl">VIP TICKETS FOR LIFE!</h1>
                <p class="mb-6 max-[768px]:text-sm max-[768px]:w-3/4">Introducing our genesis NFT project LoudPunx which will give you access to all Rolling Loud’s for LIFE plus so much more.</p>
                <p class="font-bold text-md">VERIFIED ON OPENSEA ✅</p>
                <img class="mt-6 w-3/4 max-[426px]:w-full" src="https://images.squarespace-cdn.com/content/v1/56bbcc4659827e5156d54504/cf1404fe-b950-4353-a789-8cdd209acac4/loudpunx+banner.jpg?format=1500w" />
            </div>
            <div class="mt-4 flex flex-row justify-around items-center text-lg max-[426px]:flex-col">
                <button class="px-8 py-4 font-normal text-black bg-white outline-none border-none transition-all duration-300 ease-in-out hover:bg-gray-400 max-[426px]:mb-8">HELLO</button>
                <button class="px-8 py-4 font-normal text-black bg-white outline-none border-none transition-all duration-300 ease-in-out hover:bg-gray-400">WORLD</button>
            </div>
        </div>
    </div>
{% endblock %}
