{% extends "invitations/base.html" %}

{% block content %}
<div class="relative">
   
</div>
<div class="flex flex-col justify-center max-[768px]:mt-96">
    <div class="flex flex-col justify-center items-center mb-4 md:mb-8 lg:mb-16">
        <h1 class="text-lg sm:text-2xl md:text-3xl lg:text-6xl text-shadow font-bold text-yellow-300 mb-2 md:mb-4">TRAVIS SCOTT</h1>

        <p class="text-shadow-min text-white text-xs sm:text-sm md:text-base lg:text-xl font-bold my-1 md:my-2">
            CENTRAL CEE 🌟 <span class="text-yellow-400">LATTO</span> <sup>USA</sup> 🌟 CENTRAL CEE 🌟 LATTO <sup>USA</sup> 🌟 <span class="text-yellow-400">CENTRAL CEE</span> 🌟 LATTO <sup>USA</sup>
        </p>
        <p class="text-shadow-min text-white text-xs sm:text-sm md:text-base lg:text-xl font-bold my-1 md:my-2">
            CENTRAL CEE 🌟 LATTO <sup>USA</sup> 🌟 <span class="text-yellow-400">CENTRAL CEE</span> 🌟 LATTO <sup>USA</sup>
        </p>

        <p class="text-xs sm:text-sm md:text-base lg:text-xl font-semibold text-white text-shadow-min-min">
            ZIAK 🟌 MAKKO 🟌 MARA 🟌 <span class="text-yellow-400">ZIAK</span> 🟌 MAKKO 🟌 MARA 🟌 ZIAK 🟌 MAKO 🟌 MARA 🟌 ZIAK 🟌 <span class="text-yellow-400">MAKO</span> 🟌 MARA
        </p>
        <p class="text-xs sm:text-sm md:text-base lg:text-xl font-semibold text-white text-shadow-min-min">
            MAKKO 🟌 MARA 🟌 <span class="text-yellow-400">ZIAK</span> 🟌 <span class="text-yellow-400">MAKO</span> 🟌 MARA 🟌 ZIAK 🟌 MAKO 🟌 MARA
        </p>
    </div>

    <div class="flex flex-col justify-center items-center">
        <h1 class="text-lg sm:text-2xl md:text-3xl lg:text-6xl text-shadow font-bold text-yellow-300 mb-2 md:mb-4">KENDRIC LAMAR</h1>

        <p class="text-shadow-min text-white text-xs sm:text-sm md:text-base lg:text-xl font-bold my-1 md:my-2">
            CENTRAL CEE 🌟 <span class="text-yellow-400">LATTO</span> <sup>USA</sup> 🌟 CENTRAL CEE 🌟 LATTO <sup>USA</sup> 🌟 <span class="text-yellow-400">CENTRAL CEE</span> 🌟 LATTO <sup>USA</sup>
        </p>
        <p class="text-shadow-min text-white text-xs sm:text-sm md:text-base lg:text-xl font-bold my-1 md:my-2">
            CENTRAL CEE 🌟 LATTO <sup>USA</sup> 🌟 <span class="text-yellow-400">CENTRAL CEE</span> 🌟 LATTO <sup>USA</sup>
        </p>

        <p class="text-xs sm:text-sm md:text-base lg:text-xl font-semibold text-white text-shadow-min-min">
            ZIAK 🟌 MAKKO 🟌 MARA 🟌 <span class="text-yellow-400">ZIAK</span> 🟌 MAKKO 🟌 MARA 🟌 ZIAK 🟌 MAKO 🟌 MARA 🟌 ZIAK 🟌 <span class="text-yellow-400">MAKO</span> 🟌 MARA
        </p>
        <p class="text-xs sm:text-sm md:text-base lg:text-xl font-semibold text-white text-shadow-min-min">
            MAKKO 🟌 MARA 🟌 <span class="text-yellow-400">ZIAK</span> 🟌 <span class="text-yellow-400">MAKO</span> 🟌 MARA 🟌 ZIAK 🟌 MAKO 🟌 MARA
        </p>
    </div>
</div>
{% endblock %}
